<nav class="navbar" [class.logged-out]="!isLoggedIn">
  <div class="navbar-brand" [class.logged-in]="isLoggedIn">
    <h1 class="app-title">JB-NOTES</h1>
    <!-- <a class="d-block" routerLink="/home" tabIndex="0">
      <img src="assets/images/brand/logo.png?v=8.1" alt="{{ 'navbar.logo.alt_text' | translate : { brand: 'brand.name' | translate } }}">
    </a> -->
  </div>

  <div class="navbar-content">
    <bf-avatar *ngIf="isLoggedIn" 
      class="profile-avatar white-border sm"
      defaultText="JB"
      [imgUrl]="profileImageUrl"
      (click)="toggleProfile()">
    </bf-avatar>
    <!-- [hasAvatar]="!!auth.profile?.avatar_id" -->
  </div>

</nav>

<div class="profile-box" [class.expanded]="isProfileExpanded" *ngIf="!!auth?.profile">
  <div class="row">
    <h4 class="col-12 mt-2 mb-4">Username: {{auth.profileUserName}}</h4>

    <bf-label class="col-12 value-inline value-mar-15" bfText="view.common.email" [bfValue]="auth.profile?.email || ''"></bf-label>
    <!-- bfRightBtnText="Save"
    bfRightBtnIcon="icon-checkmark"
    (bfRightBtnClick)="updateProfile()" -->
    <bf-input class="col-8" style="margin-top: 20px" bfLabel="Name" [(ngModel)]="displayName"></bf-input>
    <div class="col-4 text-right" style="margin-top: 41px">
      <bf-btn class="full-width" bfText="Save" (bfClick)="updateProfile()"></bf-btn>
    </div>
    <div class="col-12 mt-3">
      <bf-switch class="d-block horizontal" bfLabel="Dark Mode" [(ngModel)]="darkMode" (ngModelChange)="changeDarkMode($event)">
      </bf-switch>
    </div>

    <!-- <p class="col-4"><b translate>view.common.username</b>:</p>   <p class="col-8">{{auth.profile?.username}}</p> -->
    <!-- <p class="col-4"><b translate>view.common.email</b>:</p>      <p class="col-8">{{auth.profile?.email}}</p> -->
    <!-- <p class="col-4"><b>time_zone:</b></p>                        <p class="col-8">{{auth.profile?.time_zone}}</p> -->
    <!-- <div class="col-12">Selected language: {{ language$ | async }}</div> -->
    <!-- <div class="col-12">Selected localeId: {{ localeId$ | async }}</div>     -->

  </div>

  <div class="row mt-4 profile-bottom">
    <bf-dropdown *ngIf="languages"
      class="col-7 full-width"
      bfLabel="view.common.language"
      [(ngModel)]="lang"
      (ngModelChange)="appTranslate.changeLanguage($event)"
      [bfList]="languages"
      bfSelect="code"
      bfRender="name"
      bfPlaceholder="views.dropdown.placeholder">
    </bf-dropdown>
    <bf-btn class="col-5" bfIcon="icon-switch" bfText="views.common.logout" (bfClick)="auth.requestLogout()"></bf-btn>
  </div>

</div>